.contenedor {
    margin: 30px auto;
    padding: 10px;
    border: 1px solid rgb(44, 42, 42);
    width: 60%;
    text-align: center;
  }

 input
  {
      display: block;
      margin: 10px auto;
  }  
 
 